/* ����ҳ���� */
.layout_post>#post {
    /* ���´���͸����Ϊ0.7 ���������޸�*/
    background: rgba(255,255,255,.8);
}
 
/* ����ҳ�汳�� */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* ���´���͸����Ϊ0.7 */
    background: rgba(255,255,255,.8);
}
/*��߿�Ƭ��͸���� */
:root {
  --card-bg: rgba(255, 255, 255, .8);
}
/* ҳ��͸�� */
#footer {
	/* ���´���͸����Ϊ0.7 */
	background: rgba(255,255,255, .0);
}
/* ȫ��Ĭ�����ָ�� */
body,
html {
    cursor: url('./mouse/sb.cur'), auto !important;
}
?
/* ��ͣͼƬʱ�����ָ�� */
img {
    
    cursor: url('./mouse/sb.cur'), auto !important;
}
?
/* ѡ�����ӱ�ǩʱ�����ָ�� */
a:hover {
    cursor: url('./mouse/sb.cur'), auto;
}
?
/* ѡ�������ʱ�����ָ�� */
input:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣ��ťʱ�����ָ�� */
button:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣ�б���ǩʱ�����ָ�� */
i:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣҳ�����ӱ�ǩ������ҳ�Żձ꣩ʱ�����ָ�� */
#footer-wrap a:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣҳ��ʱ�����ָ�� */
#pagination .page-number:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣ�˵���ʱ�����ָ�� */
#nav .site-page:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}