/* ����ҳ���� */
.layout_post>#post {
    /* ���´���͸����Ϊ0.7 ���������޸�*/
    background: rgba(255,255,255,.8);
}
 
/* ����ҳ�汳�� */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* ���´���͸����Ϊ0.7 */
    background: rgba(255,255,255,.8);
}
/*��߿�Ƭ��͸���� */
:root {
  --card-bg: rgba(255, 255, 255, .8);
}
/* ҳ��͸�� */
#footer {
	/* ���´���͸����Ϊ0.7 */
	background: rgba(255,255,255, .0);
}
/* ȫ��Ĭ�����ָ�� */
body,
html {
    cursor: url('./mouse/sb.cur'), auto !important;
}
?
/* ��ͣͼƬʱ�����ָ�� */
img {
    
    cursor: url('./mouse/sb.cur'), auto !important;
}
?
/* ѡ�����ӱ�ǩʱ�����ָ�� */
a:hover {
    cursor: url('./mouse/sb.cur'), auto;
}
?
/* ѡ�������ʱ�����ָ�� */
input:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣ��ťʱ�����ָ�� */
button:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣ�б���ǩʱ�����ָ�� */
i:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣҳ�����ӱ�ǩ������ҳ�Żձ꣩ʱ�����ָ�� */
#footer-wrap a:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣҳ��ʱ�����ָ�� */
#pagination .page-number:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
?
/* ��ͣ�˵���ʱ�����ָ�� */
#nav .site-page:hover {
    cursor: url('ָ����ʽcur�ļ�·��'), auto;
}
/* ����ҳH1-H6ͼ����ʽЧ�� */
/* ���Ʒ糵ת���ٶ� 4s��������Լ����ڿ��� */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}

/* ���Ʒ糵ת������ -1turn Ϊ��ʱ��ת����1turn Ϊ˳ʱ��ת������ͬ���ֲ��ּǵ�ͳһ�޸� */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

/* ���÷糵��ɫ */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}

#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}

#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}

#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}

#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}

#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}

/* s���÷糵hover��Ч 6s��������Լ����ڿ���*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}